.rosh-standard-post-article {
    h2 a,
    h1 {
      font-size: 25px;
      font-weight: 700;
      word-break: break-word;
    }
  
    .post-thumbnail img {
      max-width: 100%;
      width: auto;
    }
  
    .entry-content,
    .entry-summary {
      line-height: 22px;
      color: $primary-theme-color;
  
      p {
        margin: 10px 0;
      }
  
      ul,
      ol {
        padding-left: 15px;
        padding-bottom: 15px;
  
        > li ul {
          padding-bottom: 0;
        }
      }
  
      img {
        max-width: 100%;
        width: auto;
      }
  
      figure,
      iframe,
      .mejs-container {
        width: 100% !important;
      }
  
      pre {
        white-space: pre-wrap;
      }
    }
    .entry-meta {
      font-size: 14px;
      color: $primary-theme-color;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding-bottom: 0.5em;
      margin-bottom: 5px;
    }
  
    .entry-footer {
      font-size: 14px;
      color: $primary-theme-color;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      padding-top: 0.5em;
  
      span:not(:last-child) {
        padding: 0 10px 0 0;
        margin: 0 10px 0 0;
        border-right: 1px solid $primary-theme-color;
      }
    }
}
.post-navigation,
.posts-navigation {
    margin: 30px 0;

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
