// Text Color
.u-white-text-color{
    color: $white-theme-color;
}
.u-link-text-color{
    color: $link-theme-color;
}
.u-primary-text-color{
    color: $primary-theme-color;
}
.u-secondary-text-color{
    color: $secondary-theme-color;
}
.u-gray-text-color{
    color: $gray-theme-color;
}
